/* Resets */

html, 
body, 
div, 
span, 
applet, 
object, 
iframe, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre, 
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code, 
del, 
dfn, 
em, 
ins, 
kbd, 
q, 
s, 
samp, 
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var, 
dl, 
dt, 
dd, 
ol, 
ul, 
li, 
fieldset, 
form, 
label, 
legend, 
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Defaults */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 14px;
  font-size: 1.4em;
}

.site-wrapper {
    margin: 0 auto;
    position: relative;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;  
}

.uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;   
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
textarea,
select {
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: 1.2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    background-color: inherit;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 var(--focus);
} 

textarea {
    height: auto;
}

::-webkit-input-placeholder { 
    color: var(--text-secondary);
    font-weight: 400;
    font-size: inherit;
    opacity: 1; 
}
::-moz-placeholder { 
    color: var(--text-secondary);
    font-weight: 400;
    font-size: inherit;
    opacity: 1; 
}
:-ms-input-placeholder { 
    color: var(--text-secondary);
    font-weight: 400;
    font-size: inherit;
    opacity: 1; 
}
input:-moz-placeholder { 
    color: var(--text-secondary);
    font-weight: 400;
    font-size: inherit;
    opacity: 1; 
}

/* Colors */

html {
  --color-accent: rgba(9, 91, 255, 1.00);
  --weak-color-accent: rgba(9, 91, 255, .3);
  --bg-main: rgba(18, 18, 20, 1.00);
  --bg-accent: rgba(28, 28, 30, 1.00);
  --secondary-accent: rgba(68, 68, 70, 1.00);
  --primary-accent: rgba(48, 48, 50, 1.00);
  --tertiary-accent: rgba(35, 35, 37, 1.00);
  --text-primary: rgba(200, 200, 200, 1.00);
  --text-secondary: rgba(120, 120, 120, 1.00);
  --shadow: rgba(0, 0, 0, .2);
  --white: rgba(200, 200, 200, 1.00);
  --focus: 2px rgba(39, 94, 254, .5);  
  color: var(--text-primary);
  background-color: var(--bg-main);
}

/* Error Dialogue */

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-dialogue {
  background-color: var(--bg-accent);
  width: 80vw;
  max-width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.error-dialogue h4 {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 20px;
}

.error-message {
  background-color: var(--tertiary-accent);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; 
}

.error-message h5 {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.error-message {
  
}

.error-dialogue .simple-button {
  opacity: 1;
  width: 80px;
  height: 30px;
  margin: 0;
  display: flex;
}

/* Header */


header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-accent);
  border-bottom: 1px solid var(--primary-accent);
  position: static;
}

#header-content-wrapper {
  height: 100%;
  width: 940px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.users-wrapper {
  display: flex;
  padding: 2px;
  max-width: calc(100% - 130px);
  overflow-y: scroll;
  scrollscrollbar-width: thin;
}

.users-wrapper::-webkit-scrollbar {
  display: none;
}

.users-wrapper * {
  margin-left: 10px; 
}

.user-tile:first-child {
  margin-left: 0; 
}

.user-tile {
  height: 35px;
  background-color: var(--bg-main);
  display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.user-name {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.user-name.default {
  margin: 0;
}

.user-tile.current {
  box-shadow: 0 0 0 var(--focus);
}

.user-tile .edit-button {
  margin: 0 0 0 10px;
}

.user-tile .edit-button:hover {
  background-color: var(--primary-accent)
}

.user-tile .simple-button svg {
  width: 12px;
  height: 12px;
  margin: 0;
}

.user-editor {
  width: 35px;
  overflow: hidden;
  justify-content: space-around;
  transition: background-color .2s ease-in-out, width .4s ease-in-out;
  background-color: var(--bg-accent)
}

.user-editor:hover {
  background-color: var(--bg-main);
}

.user-editor .simple-button {
  opacity: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-editor .add-button {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-editor .add-button svg {
  margin: 0;
}

.user-editor input[type="text"] {
  color: var(--text-primary);
  font-size: 12px;
  font-weight: 600;
  width: 80px;
}

.user-editor input[type="text"]:focus {
  box-shadow: none;
}

.user-editor.expanded {
  background-color: var(--bg-main);
  width: 160px;
}

.user-editor.expanded .add-button {
  display: none;
}

.user-editor *:not(:first-child) {
  display: none;
}

.user-editor.expanded .simple-button {
  display: flex;
}

.user-editor.expanded input[type="text"] {
  display: block;
}

header h1 {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 1em;
  margin: 0 0 0 auto;
}


/* Content Grid */


#main-content-wrapper {
  position: relative;
  width: calc(100vw - 40px);
  max-width: 800px;
  height: auto;
  padding-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}

/* Todo Lists */

.todo-list-wrapper {
  background: var(--bg-accent);
  border-radius: 20px;
  padding: 20px;
}

.todo-list-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 210px;
}

.list-header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-title {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.2em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: calc(100% - 35px);
  margin: 0;
}

.progress-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 25px 0;
  /*background-color: var(--tertiary-accent);*/
  /*height: 30px;*/
  /*padding: 5px;*/
  border-radius: 5px;
}

.progress-wrapper span {
  font-size: 12px;
  width: 25px;
  text-align: center;
  /*display: none;*/
}

.progress-bar-outer {
  width: calc(100% - 35px);
  height: 1px;
  background: var(--primary-accent);
  border-radius: 1px;
}

.progress-bar-inner {
  height: 100%;
  width: var(--progress);
  background: var(--color-accent);
  border-radius: inherit;
  transition: width .5s ease-in-out;
}

.item-list {
  margin-bottom: 20px;
}

/* Todo Item */

.todo-item {
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.item-name {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em; 
  text-decoration: none;
  max-width: calc(100% - 60px);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

input:checked ~ .item-name {
  text-decoration: line-through;
}

.item-due {
  display: block;
  font-size: 10px;
  margin-left: 25px;
  overflow: hidden;
  height: 14px;
  line-height: 14px;
  transition: height .2s;
  color: var(--text-secondary);
}

input:checked ~ .item-due {
  height: 0;
}

.simple-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width:30px;
  margin-left: auto;
  border-radius: 3px;
  background-color: inherit;
  transition: background-color .2s ease;
  cursor: pointer;
}

.simple-button:hover {
  background-color: var(--tertiary-accent);
}

.simple-button:disabled:hover {
  background-color: inherit;
}

.edit-button svg {
  height: 4px;
  width: 16px;
}

.simple-button-symbol {
  fill: var(--secondary-accent);
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* ItemEditor */


.todo-list-content > form {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  max-height: 55px;
  overflow: hidden;
}

.todo-list-content > form:hover {
  background-color: var(--tertiary-accent);
}

.todo-list-content > form input[type="checkbox"] {
  margin-right: 10px;
}

.new-todo-cost,
.new-todo-name,
.new-todo-due {
  display: block;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
}

.field-wrapper {
  overflow: hidden;
  height: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 30px);
  transition: height .2s linear;
}

.todo-list-content > form input:focus {
  outline: none;
}

.new-todo-name {
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  width: calc(100% - 30px);
}

input.new-todo-cost:focus {
  box-shadow: none;
}

.new-todo-cost,
.new-todo-due {
  font-size: 10px;
  font-weight: 400;
  margin-left: 25px;
  width: auto;
  height: 16px;
  line-height: 16px;
  color: var(--text-secondary);
}

input.new-todo-cost {
  width: 30px;
  margin-left: 15px !important;
}

.new-todo-due {
  max-width: 100px;
}

.new-todo-cost:placeholder {
  width: 50px;
  font-size: 9px;
}

.button-wrapper {
  margin-left: auto;
  overflow: hidden;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: height .2s linear;
}

.todo-list-content > form.expanded {
  background-color: var(--tertiary-accent);
}

.todo-list-content > form.expanded > .button-wrapper,
.todo-list-content > form.expanded > .field-wrapper {
  height: 43px;
}

.cancel-button,
.confirm-button {
  opacity: 0;
  transition: opacity .1s linear;
}

.cancel-button svg,
.confirm-button svg {
  width: 15px;
  height: 15px;
}

form.expanded .cancel-button,
form.expanded .confirm-button {
  opacity: 1;
}

form.expanded .cancel-button:hover,
form.expanded .confirm-button:hover {
  background-color: var(--primary-accent);
}

.big-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  transition: height .2s linear, background-color .2s ease;
  overflow: hidden;
  cursor: pointer;
}

.todo-list-content > form.expanded .big-button {
  height: 0px;
}

.todo-list-content > form.expanded .add-button {
  opacity: 0;
}

.add-button svg {
  width: 15px;
  height: 15px;
}

.big-button-symbol {
  fill: var(--secondary-accent);
  opacity: 1;
  transition: opacity .1s ease-in-out;
}

/* ListEditor */

.list-editor-wrapper {
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color .2s ease;
}

.list-editor-wrapper .todo-list-content {
  min-height: unset;
}

.list-editor-wrapper:hover {
  background-color: var(--bg-accent);
}

.list-editor-wrapper.expanded {
  background-color: var(--bg-accent);
}

.list-editor-wrapper .add-button {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: none;
}

.list-editor-wrapper.expanded .add-button {
  height: 0px;
}

.list-editor-wrapper .add-button svg {
  height: 25px;
  width: 25px;
  opacity: 1;
  /*transition: opacity .2s ease;*/
}

.list-editor-wrapper.expanded .add-button {
  opacity: 0;
}

.edit-wrapper {
  min-height: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  /*transition: min-height .1s linear, height .1s linear, opacity .1s linear;*/
}

.expanded .edit-wrapper {
  min-height: 210px;
  opacity: 1;
  height: 100%;
}

.list-editor-wrapper .todo-list-wrapper {
  padding: 0;
  min-height: 0px;
}

.list-editor-wrapper .todo-list-wrapper * {
  opacity: .75;
  cursor: not-allowed;
}

.list-editor-wrapper .list-header-wrapper .edit-button {
  display: none;
}

.list-editor-wrapper .item-editor,
.list-editor-wrapper .list-title {
  display: none;
}

input.new-list-name {
  height: 42px;
  padding: 8px 8px 5px 8px;
  width: 100%;
  font-size: 28px;
  font-weight: 900;
  color: var(--text-primary);
  border: 1px solid var(--secondary-accent);
  background-color: var(--primary-accent);
  border-radius: 8px;
}

input.new-list-name:focus {
  box-shadow: none;
}

input.new-list-name::placeholder {
  color: var(--text-secondary);
  font-weight: 900;
}

.button-wrapper-list {
  width: 100%;
  height: 27px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.button-wrapper-list .simple-button {
  opacity: 1;
  margin: 0;
  width: 50%;
  height: 100%;
}

.button-wrapper-list .simple-button svg {
  height: 15px;
  width: 15px;
}

/* Checkbox Styling */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--secondary-accent));
    background: var(--b, var(--primary-accent));
    -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
  }
  input[type='checkbox']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  input[type='checkbox']:checked {
    --b: var(--color-accent);
    --bc: var(--color-accent);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:disabled {
    --b: var(--bg-accent);
    --bc: var(--primary-accent);
    cursor: not-allowed;
    opacity: .75;
  }
  input[type='checkbox']:disabled:checked {
    --b: var(--bg-accent);
    --bc: var(--primary-accent);
  }
  input[type='checkbox']:disabled:checked:after {
    --o: .5;
  }
  input[type='checkbox']:disabled + label {
    cursor: not-allowed;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled) {
    --bc: var(--weak-color-accent);
  }
  input[type='checkbox']:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox'] {
    width: 15px;
  }
  input[type='checkbox']:after {
    opacity: var(--o, 0);
  }
  input[type='checkbox']:checked {
    --o: 1;
  }
  input[type='checkbox'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type='checkbox'] {
    border-radius: 4px;
  }
  input[type='checkbox']:after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--white);
    border-top: 0;
    border-left: 0;
    left: 4px;
    top: 1px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:checked {
    --r: 43deg;
  }
}

/* Footer */

footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  font-size: 1em;
  font-weight: 500;
  line-height: 2em; }

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  font-weight: 700; }
  a::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: var(--text-secondary);
    left: 20%;
    bottom: -18%;
    transition: width .2s linear, left .2s linear; }
  a:hover::after {
    width: 90%;
    left: 5%; }