/* Resets */

html, 
body, 
div, 
span, 
applet, 
object, 
iframe, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre, 
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code, 
del, 
dfn, 
em, 
ins, 
kbd, 
q, 
s, 
samp, 
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var, 
dl, 
dt, 
dd, 
ol, 
ul, 
li, 
fieldset, 
form, 
label, 
legend, 
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Defaults */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-size: 1.4em;
    background-color: #fff;
    color: #333;
}

.site-wrapper {
    margin: 0 auto;
    position: relative;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;  
}

.uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;   
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
textarea,
select {
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: 1.2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    background-color: inherit;
}

textarea {
    height: auto;
}

::-webkit-input-placeholder { 
    color:#aaa; 
}
::-moz-placeholder { 
    color:#aaa; 
}
:-ms-input-placeholder { 
    color:#aaa; 
}
input:-moz-placeholder { 
    color:#aaa; 
}

input[type="checkbox"] {
    margin: 0;
    vertical-align: middle; 
}

input[type="submit"] {
    border: none;
    padding: 16px 20px;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    background-color: #00B285;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
}

input[type="submit"]:hover {
    background-color: #00906C;
}

select {
    display: block;
    width: 100%;    
}

label {
    font-size: 11px;
    font-size: 1.1rem;
    font-style: italic;
    color: #999;    
}

small {
    font-size: 11px;
    font-size: 1.1rem;  
}

img {
    max-width: 100%;
    height: auto;   
}

embed,
iframe {
    max-width: 100%;    
}


/* Header */


header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

#header-content-wrapper {
  height: 100%;
  width: 940px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-name {
  margin: 0;
}

#user-dialogue-wrapper {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#user-image {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: green;
  margin-right: 5px;
}

#switch-user-button {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1em;
  margin: 0 0 0 auto;
}


/* Content Grid */

#main-content-wrapper {
  width: calc(100vw - 40px);
  max-width: 800px;
  height: auto;
  padding-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  /*grid-auto-rows: 200px;*/
}

/* Todo Lists */

.todo-list-wrapper {
  background: lightgrey;
  border-radius: 20px;
  padding: 20px;
  min-height: 250px;
}

.todo-list-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-header-wrapper {
  width: 100%;
  border-radius: 1px;
}

.list-title {
  font-size: 28px;
  font-weight: 900;
  line-height: 1em;
  white-space: pre-wrap;
  margin: 0; 
}

.progress-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0; 
}

.progress-bar-outer {
  width: 80%;
  height: 4px;
  background: darkgrey;
  border-radius: 1px;
}

.progress-bar-inner {
  height: 100%;
  width: 60%;
  background: #147aff;
  border-radius: inherit;
}

.item-list {
  margin-bottom: 20px;
}

/* Todo Item */


.todo-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6px;
}

.todo-item input[type="checkbox"] {
  display: none;
}

.todo-check {
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;
  height: 12px;
  width: 12px;
  border: 2px solid #333;
  position: relative;
  cursor: pointer;
  transition: background-color .1s ease-out;
}

.todo-check::before,
.todo-check::after {
  content: '';
  top: 6px;
  left: -2px;
  display: block;
  position: absolute;
  height: 3px;
  width: 6px;
  background-color: white;
  transform: rotate(45deg) scaleX(0);
  transform-origin: right center;
  border-radius: 1px;
  transition: transform .1s ease-out;
}

.todo-check::after {
  left: 2px;
  width: 9px;
  transform: rotate(-45deg) scaleX(0);
  transform-origin: left center;
  transition: transform .15s ease-out;
}

input:checked ~ .todo-check {
  background-color: #333;
}

input:checked ~ .todo-check::before {
  transform: rotate(45deg) scaleX(1);
}

input:checked ~ .todo-check::after {
  transform: rotate(-45deg) scaleX(1);
}


.item-name {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em; 
  text-decoration: none;
}

input:checked ~ .item-name {
  text-decoration: line-through;
}

.item-due {
  display: block;
  font-size: 10px;
  margin-left: 22px;
  overflow: hidden;
  height: 12px;
  transition: height .2s;
}

input:checked ~ .item-due {
  height: 0;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width:30px;
  margin-left: auto;
  border-radius: 3px;
  transition: background-color .2s ease;
}

.edit-button:hover {
  background-color: darkgrey;
}

.edit-button svg {
  height: 4px;
  width: 16px;
}

.edit-button-symbol {
  fill: grey;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* ItemEditor */

.todo-list-content > form {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: blue;
  padding: 6px;
  border-radius: 6px;
  height: 60px;
  width: 100%;
}

.todo-list-content > form input {
  display: block;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border-radius: 3px;
  border: none;
  padding: 0 6px;
  background-color: green;
}

.fiel-wrapper {
  background-color: yellow;
  height: 100%;
}

.todo-list-content > form input:focus {
  outline: none;
}

.new-todo-name {
  font-size: 14px;
  font-weight: 600;
  height: 22px;
  width: calc(100% - 22px - 40px);
}

.button-wrapper {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.new-todo-due {
  font-size: 12px;
  font-weight: 400;
  margin-left: 22px;
  width: auto;
  height: 18px;
  line-height: 18px;
}

.todo-list-content > form > .todo-check {
  cursor: default;
}